.nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .nav a:hover {
    color: yellow;
  }
  
  .nav .YELLOW {
    color: yellow;
  }
  
  .nav button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nav button:hover {
    background-color: white;
    color: black;
  }
  
  .all{
    margin-top: 3%;
    display: flex;
    gap: 10%;
    background: linear-gradient(to right, rgb(138, 158, 177), rgb(236, 169, 180),rgb(138, 158, 177));

  }
  
  .stm{
    margin-left: 10%;
    font-size: larger;
    padding-top: 2%;
    
  }
  .words{
    font-size: larger;
    padding: 2%;
  }
  .btn1{
    padding: 3%;
    background-color: yellow;
    border-color: yellow;

  }

  .btns{
    display: flex;
    gap:3%;
  }
  .btn2{
    padding: 3%;
    background-color: white;
    border-color: wheat;
    
  }
#products{
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr);
  gap: 10px; 

}
  .product-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
   background-color:whitesmoke;
    border: 1px solid aliceblue;
  }
  .product-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .product-card h2 {
    font-size: 16px;
    margin-top: 10px;
  }
  .product-card .productPrice {
    display: flex;
    justify-content: space-between;
  }
  .product-card .productPrice p {
    font-size: 14px;
  }
  .product-card .productPrice button {
    background-color:yellow;
    color:black;
    border: none;
    cursor: pointer;
  }



.arrivals{
  margin-top: 5%;
  display: flex;
  gap: 5%;
  margin-left: 3%;
  margin-right: 3%;
}
.headphone{
  color: white;
  text-align: center;
  padding-right: 25%;
  padding-left:5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/headpho-PhotoRoom.png-PhotoRoom.png);
}

.camera{
  font-size: large;
  color: white;
  padding-right: 25%;
  padding-left:5%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/pinkcamera.jpg);
}

@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  .arrivals {
    flex-direction: column;
    align-items: center;
  }

  .headphone,
  .camera {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media (max-width: 480px) {
  /* Styles for screens smaller than 480px */
  .arrivals {
    gap: 5%;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .headphone,
  .camera {
    padding-right: 5%;
    padding-left: 5%;
  }
}

.phone{
  margin-left:10%;
  width:60%;
  height: 40%;
}


.about{
  margin-left:5%;
  font-size: larger;
}
.mockup{
  margin-top:5%;
  background: linear-gradient(to right, rgb(138, 158, 177), rgb(236, 169, 180),rgb(138, 158, 177));
  display: flex;
}

  footer{
    margin-top: 3%;
    background-color: black;
    display: flex;
    gap: 5%;
    list-style: none;
    color: white;
    font-size: small;


  }

  footer ul li {
    list-style: none;
  }


  